@font-face {
		font-family: 'bold';
		src: url('Futura Bold font.ttf');
}

@font-face {
		font-family: 'bolditalic';
		src: url('Futura Bold Italic font.ttf');
}

@font-face {
		font-family: 'normal';
		src: url('futura medium condensed bt.ttf');
}

body.Home {
	background-image: url('homebackground.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	
}

body.GamePlay {
	background-image: url('gameplaybackground.jpg');
	width: 1400px;
	height: 781px;
}

body.PersonalConnections {
	background-image: url('personalconnectionsbackground.jpeg');
	background-size: 1450px 781px;
	background-repeat: no-repeat;
	
}


body.Gallery {
	background-image: url('gallerybackground.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 1450px 781px;
	
	
	
}

div.mainhome {
	margin-top: 700px;
	margin-left: 0px;
	background-color: white;
	height: 1500px;
	width: 1350px;
	padding: 30px;
	
}

div.maingameplay {
	margin-top: 700px;
	margin-left: 0px;
	background-color: white;
	height: 6000px;
	width: 1350px;
	padding: 30px;
	
}

div.mainpersonalconnections {
	margin-top: 350px;
	margin-left: 0px;
	background-color: white;
	height: 2000px;
	width: 1350px;
	padding: 30px;
	
}

div.table {
	background-color: cornflowerblue;
	box-shadow: -20px -20px 40px black;
	padding: 20px;
	margin-left: 100px;
	margin-top: 80px;
	right: 40px;
	top: 40px;
	width: 1000px;
	
}

div.mainpersonalconnections {
	margin-top: 350px;
	margin-left: 0px;
	background-color: white;
	height: 2000px;
	width: 1350px;
	padding: 30px;
	
}

img.mainlogo {
	margin-top: 50px;
	margin-left: 40px;
	width: 761px;
	height: 294px;
}

img.photo1 {
	width: 800px;
	height: 450px;
	padding: 10px;
	float: right;
}

img.launch {
	float: right;
	width: 720px;
	height: 360px;
	margin-top: 20px;
}

img.explosion {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 640px;
	height: 360px;
}

img.minmus {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 720px;
	height: 405px;

}

img.vab {
	width: 1280px;
	height: 717px;

}

img.rover {
	float: right;
	margin-top: 50px;
	width: 854px;
	height: 534px;
}

img.spaceplane {
	float: left;
	margin-top: 80px;
	width: 854px;
	height: 534px;
	padding-left: 15px;
	padding-right: 30px;
}

img.aircraft {
	float: right;
	margin-top: 100px;
	width: 800px;
	height: 540px;
	
}

img.crazyplane {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 927px;
	height: 459px;
	margin-top: 275px;
}

img.spacestation {
	float: right;
	width: 888px;
	height: 600px;
	margin-top: 100px;
}

img.orbitalmech {
	float: right;
	width: 586px;
	height: 386px;
	margin-top: 150px;
}

img.crazybuilds {
	float: left;
	width: 699px;
	height: 410px;
	margin-top: 250px;
	padding: 20px;
}

img.delta-v {
	width: 1240px;
	height: 1754px;
}

img.gallery1 {
	width: 500px;
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 600px;
}

img.gallery2 {
	width: 1024px;
	height: 576px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

img.gallery3 {
	width: 1024px;
	height: 576px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

img.gallery4 {
	width: 810px;
	height: 486px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

img.gallery5 {
	width: 960px;
	height: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

img.gallery6 {
	width: 768px;
	height: 432px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

img.gallery7 {
	width: 800px;
	height: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

img.gallery8 {
	width: 838px;
	height: 637px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

img.gallery9 {
	width: 777px;
	height: 428px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

img.gallery10 {
	width: 820px;
	height: 614px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

img.gallery11 {
	width: 820px;
	height: 614px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

img.gallery12 {
	width: 1093px;
	height: 614px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

table, th, td {
	border-bottom: 1px solid #DDDDDD;
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 1000px;
	background-color: white;
}

tr:nth-child(even) {
	background-color: #DDD;
}

tr:nth-child(odd) {
	background-color: #EEE;
}

tr:hover {
	background-color: cadetblue;
	color: white;
}

th, td {
	padding: 5px;
	font-family: normal;
	font-size: 20pt;
}

th {
	background-color: black;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: sticky;
	font-family: bold;
}

ul li {
	float: left;
	width: 350px;
	font-size: 20pt;
}
			
ul li a {
display: block;
color: white;
text-align: center;
padding: 14px;
text-decoration: none;
}


li a:hover {
	

}

h1 {
	font-family: bold;
	font-size: 49pt;
	margin-left: 10px;
}

h2 {
	font-family: bold;
	font-size: 69pt;
	margin-left: 100px;
	margin-top: 100px;
	color: white;
}

h4 {
	font-family: bold;
	font-size: 49pt;
	margin-left: 10px;
	text-align: center;
}

h5 {
	font-family: bold;
	font-size: 40pt;
	margin-left: 10px;
}

h5.vab {
	text-align: center;
	margin-left: 0px;
	margin-top: 120px;
}

h5.rover {
	margin-top: 50px;
}

h5.spaceplane {
	margin-top: 260px;
}

h5.aircraft {
	margin-top: 360px;
}

h5.infinite {
	margin-top: 250px;
	margin-left: 800px;
	
}

h5.deltav {
	text-align: center;
}

p {
	font-family: normal;
	font-size: 28pt;
}

p.center {
	text-align: center;
	
}

a.Buy:link {
	color: black;
	background-color: dodgerblue;
	padding: 70px 100px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 550px;
	border: 5px dodgerblue;
	border-radius: 100px;
	margin-top: 80px;
	font-family: bold;
	font-size: 40pt;
	
}

a.Buy:visited {
	color: black;
}

a.Buy:hover {
	color: black;
}

a.Buy:active {
	color: black;
}